/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
    font-family: "open sans condensed", sans serif;
    margin:0
}
/*header*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fdb03c;

}
/*menu*/
header .hamburger button:first-of-type{
    z-index: 200;
    position: relative;
}
.hamburger {
    order: -1;
}

.hamburger ul{
    position: fixed;
    margin: 0;
    padding: 2.5em 0 0;

    top: 0; left: 0;
    background-color: red;
    width: 50%;
    bottom:0;
    z-index: 100;
    transform:translateX(-100%);
    transition: .3s;
}
.hamburger ul.open{
    transform:translateX(0);
}
.hamburger ul li{
    list-style-type: none;
    align-content: space-around;

}

.hamburger ul li a{
    padding: 1em;
    display: block;
}


.balk ul {
    list-style: none;
    display: flex;
    padding:0; margin: 0;
    background-color: white;

}

.balk ul li {

}

.balk ul li a{
    text-decoration: none;
    color: black;

}

section img{
    width: 100%
}
