/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
    font-family: "open sans condensed", sans serif;
    margin:0
}
/*header*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fdb03c;
    padding: .5em 0 0 0;
}
/*hamburger menu*/
header .hamburger button:first-of-type{
    z-index: 200;
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.logo img{
    width: 2em;
    align-self: center;
}

.zoeken{
    width: 1.5em;
    align-self: center;
}
.hamburger {
    order: -1;
}

.hamburger ul{
    position: fixed;
    margin: 0;
    padding: 2.5em 0 0;

    top: 0; left: 0;
    background-color: #362112;
    width: 50%;
    bottom:0;
    z-index: 100;
    transform:translateX(-100%);
    transition: .3s;
}
.hamburger ul.open{
    transform:translateX(0);
}
.hamburger ul li{
    list-style-type: none;
    align-content: space-around;

}

.hamburger ul li a{
    padding: 1em;
    display: block;
    text-decoration: none;
    color: white;
}

/*tweede nav*/
.balk{
    width: 100%;
    box-shadow: 0 8px 10px -6px grey;
}
.balk ul {
    list-style: none;
    display: flex;
    padding:0; margin: 0;
    background-color: white;
    justify-content: space-around;
}

.balk ul li {
    padding:.5em ;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
.balk ul li.first-of-type{

}
.balk ul li a{
    text-decoration: none;
    color: black;
     display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.balk ul li a img{
    width: 1.5em;
}

/*body*/
section img{
    width: 100%
}
section article{
    position:relative;
}
section article h1{
    color: white;
    position: absolute;
    text-transform: uppercase;
    left: 1em;

}

